{% extends 'base.html.twig' %}
{% block body %}
<h1>Mensajes</h1>
<a href="{{ path('app_mensaje_new') }}" class="btn btn-primary mb-2">Nuevo mensaje</a>
<ul>
{% for mensaje in mensajes %}
<li>{{ mensaje.contenido }} - {{ mensaje.fecha|date('d/m/Y H:i') }}</li>
{% else %}<li>No hay mensajes.</li>{% endfor %}
</ul>
{% endblock %}
