{% extends 'base.html.twig' %}
{% block body %}
{# Formulario básico para crear un pedido #}
<h1>Nuevo pedido</h1>
{{ form_start(form) }}
{{ form_widget(form) }}
<button class="btn btn-success">Guardar pedido</button>
{{ form_end(form) }}
{% endblock %}
